In [11]:
# Import Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [12]:
# Cleaned Data
df_cleaned = pd.read_csv("C:/Users/Dell/Desktop/Jupyter MLT Homework - The Model/cleaned_data.csv", encoding="utf-8")

In [13]:
# Show Cleaned Data
df_cleaned.head()

,Gender,Married,Dependents,Education,Self_Employed,Credit_History,Property_Area,Log_Total_Income,Log_LoanAmount,Log_Loan_Amount_Term,Loan_Status
0,1,0,0,0,0,1.0,2,8.674197,4.859812,5.888878,1
1,1,1,1,0,0,1.0,0,8.714732,4.859812,5.888878,0
2,1,1,0,0,1,1.0,2,8.006701,4.204693,5.888878,1
3,1,1,0,1,0,1.0,2,8.505525,4.795791,5.888878,1
4,1,0,0,0,0,1.0,2,8.699681,4.955827,5.888878,1

In [14]:
# Columns Distribution
X = df_cleaned.iloc[:, np.r_[0:10]]
y = df_cleaned.iloc[:, 10]

In [15]:
# Cross Validation :
# Use Stratified KFold to fit an unbalanced data distribution.
from sklearn.model_selection import StratifiedKFold, cross_val_score
from sklearn.svm import SVC

skf = StratifiedKFold(n_splits=10, random_state=None, shuffle=False)

In [16]:
# The Model
# Logistic Regression model
from sklearn.linear_model import LogisticRegression
lg_model = LogisticRegression()

# Logestic Regression metrics
score = cross_val_score(lg_model, X, y, cv= skf,scoring='accuracy')
print('accuracy score for each fold :\n',score)
print(f'Average accuracy score: {"{:.2f}".format(score.mean())}')

score = cross_val_score(lg_model, X, y, cv= skf,scoring='precision')
print(f'Average precision score: {"{:.2f}".format(score.mean())}')

score = cross_val_score(lg_model, X, y, cv= skf,scoring='recall')
print(f'Average recall score: {"{:.2f}".format(score.mean())}')

score = cross_val_score(lg_model, X, y, cv= skf,scoring='f1')
print(f'Average f1 score: {"{:.2f}".format(score.mean())}')

accuracy score for each fold :
 [0.80645161 0.82258065 0.77419355 0.75806452 0.78688525 0.78688525
 0.86885246 0.85245902 0.80327869 0.83606557]
Average accuracy score: 0.81
Average precision score: 0.79
Average recall score: 0.98
Average f1 score: 0.88

In [17]:
# Export Model

lg_model.fit(X, y)

import pickle

model_pkl_file = "logistic_regression_model.pkl"

with open(model_pkl_file, 'wb') as file:
    pickle.dump(lg_model, file)